<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Feedback</servlet-name>
        <servlet-class>megaclip.Feedback</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>megaclip.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>megaclip.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ScoreUpdation</servlet-name>
        <servlet-class>megaclip.ScoreUpdation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>megaclip.SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuessmynumberServlet</servlet-name>
        <servlet-class>megaclip.GuessmynumberServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MaximumclicksServlet</servlet-name>
        <servlet-class>megaclip.MaximumclicksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FlappytryServlet</servlet-name>
        <servlet-class>megaclip.FlappytryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SnakeServlet</servlet-name>
        <servlet-class>megaclip.SnakeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Feedback</servlet-name>
        <url-pattern>/Feedback</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ScoreUpdation</servlet-name>
        <url-pattern>/ScoreUpdation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuessmynumberServlet</servlet-name>
        <url-pattern>/GuessmynumberServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MaximumclicksServlet</servlet-name>
        <url-pattern>/MaximumclicksServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FlappytryServlet</servlet-name>
        <url-pattern>/FlappytryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SnakeServlet</servlet-name>
        <url-pattern>/SnakeServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
